@charset "utf-8";
/*=================================================
 * ブラウザのデフォルトのスタイルをリセットする
 * ================================================= */

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, header, hgroup, section, article, aside, hgroup, footer, figure, figcaption, nav {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
body {
	line-height: 1.0;
	-webkit-text-size-adjust: none;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
/* icon用font */
@font-face {
	font-family: "fontello";
	src: url(../font/fontello9e13.eot?63314776);
	src: url(../font/fontello9e13.eot?63314776#iefix) format('embedded-opentype'), url(../font/fontello9e13.woff?63314776) format('woff'), url(../font/fontello9e13.ttf?63314776) format('truetype'), url(../font/fontello9e13.svg?63314776#fontello) format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon-popup:before {
	content: '\73';
} /* 's' */
.icon-right-open:before {
	content: '\6d';
} /* 'm' */
.icon-twitter:before {
	content: '\77';
} /* 'w' */
.icon-facebook-squared:before {
	content: '\66';
} /* 'f' */
.icon-monitor:before {
	content: '\70';
} /* 'p' */
.icon-phone:before {
	content: '\74';
} /* 't' */
/* icon用font */
@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?83678375');
	src: url('../font/fontello.eot?83678375#iefix') format('embedded-opentype'), url('../font/fontello.woff?83678375') format('woff'), url('../font/fontello.ttf?83678375') format('truetype'), url('../font/fontello.svg?83678375#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: .4em
}
.icon-menu:before {
	content: '\E800';
}
.icon-globe:before {
	content: '\E801';
}
.icon-phone:before {
	content: '\E805'
}
.icon-pc:before {
	content: '\E802';
}
img {
	border: 0;
	vertical-align: middle;
}
ul, ol {
	list-style: none;
}
table {
	border-spacing: 5;
	empty-cells: show;
	color: #333;
}
/*=============================================*/
/*                 マージン            */
/*=============================================*/

.m_b0 {
	margin-bottom: 0;
}
.m_b05 {
	margin-bottom: 5px;
}
.m_b10 {
	margin-bottom: 10px;
}
.m_b15 {
	margin-bottom: 15px;
}
.m_b20 {
	margin-bottom: 20px;
}
.m_b25 {
	margin-bottom: 25px;
}
.m_b30 {
	margin-bottom: 30px;
}
.m_t05 {
	margin-top: 5px;
}
.m_t10 {
	margin-top: 10px;
}
.m_t15 {
	margin-top: 15px;
}
.m_t20 {
	margin-top: 20px;
}
.m_t25 {
	margin-top: 25px;
}
.m_t30 {
	margin-top: 30px;
}
.m_l10 {
	margin-left: 10px;
}
.m_l20 {
	margin-left: 20px;
}
.m_r10 {
	margin-right: 10px;
}
.m_r20 {
	margin-right: 20px;
}
.p_l05 {
	padding-left: 5px;
}
.p_l10 {
	padding-left: 10px;
}
.p_l15 {
	padding-left: 15px;
}
.p_l20 {
	padding-left: 20px;
}
.p_l25 {
	padding-left: 25px;
}
.p_l30 {
	padding-left: 30px;
}
.p_l40 {
	padding-left: 30px;
}
.p_l50 {
	padding-left: 50px;
}
.p_l65 {
	padding-left: 65px;
}
.p_r05 {
	padding-right: 5px;
}
.p_r10 {
	padding-right: 10px;
}
.p_r15 {
	padding-right: 15px;
}
.p_r20 {
	padding-right: 20px;
}
.p_r25 {
	padding-right: 25px;
}
.p_r30 {
	padding-right: 30px;
}
.p_r40 {
	padding-right: 40px;
}
.p_r50 {
	padding-right: 50px;
}
.p_t10 {
	padding-top: 10px;
}
.p_t20 {
	padding-top: 20px;
}
.p_t30 {
	padding-top: 30px;
}
.p_t40 {
	padding-top: 40px;
}
.p_t50 {
	padding-top: 50px;
}
.p_b0 {
	padding-bottom: 0;
}
.p_b10 {
	padding-bottom:10px;
}
.p_b20 {
	padding-bottom:20px;
}
.p_b30 {
	padding-bottom:30px;
}
.p_b40 {
	padding-bottom:40px;
}
.p_b50 {
	padding-bottom:50px;
}
.pa_box5 {
	padding: 5px;
}
.pa_box10 {
	padding: 10px;
}
.pa_box15 {
	padding: 15px;
}
.pa_box20 {
	padding: 20px;
}
.p_txt {
	padding-left: 10px;
	padding-right: 10px;
}
.txt_red {
	color: #990000;
}
.txt_white {
	color: #fff;
}
.box_center {
	text-align: center;
}
.box_right {
	text-align: right;
}

.fl {
	float: left;
}
.fr {
	float: right;
}
.t_pickup {
	font-size: 20px;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-weight: bold;
	color: #333;
	text-shadow: 0px 1px 3px #999;
	border-bottom: 1px solid #3e210d;
}

.listmenu .w_100 {
	width:100%;
}

.w_50 {
	width:50%;
}


/*=================================================
 * サイト全体の基本スタイル
 * ================================================= */

body {
	cursor: auto;
	margin: auto;
	color: #141414;
	font: normal normal 16px/30px "Yu Gothic", "Hiragino Kaku Gothic Pro", "ヒラギノ明朝体 Pro", "ヒラギノ角ゴシックPro", "ＭＳ ゴシック", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", Meiryo, sans-serif;
	text-align: left;
	letter-spacing: .5px;
	word-spacing: normal;
	background: url(../img/shared/bg1.jpg) center top #E4DECD;
	text-size-adjust: none;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
}
* { /* fix font boosting on mobile Chrome */
}
*:first-child + html img {
	vertical-align: top;
}
* html img {
	vertical-align: top;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
strong {
	font-weight: 600;
}
em {
	font-style: italic;
}
small {
	font-size: smaller;
}
address {
	font-style: normal;
}
.pagetop {
	clear: both;
	text-align: right;
	padding-right: 0px;
	padding-bottom: 10px;
}
.global-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background: url(../img/shared/bg_belt.png) repeat top center;
	height: 80px;
}
#logo {
	float: left;
	width: 55px;
	padding: 0;
}
h1 {
	position: absolute;
	top: -9999px;
}

.block {
	clear: both;
}
.block:after {
	content: '';
	display: block;
	clear: both;
}
p {
	padding-bottom: 1em;
}
.box {
	padding: 10px;
}
.key {
	padding: 0;
	position: relative;
	margin-top: 80px;
}
.scroll-btn {
	position: absolute;
	z-index: 100;
	width: 42px;
	left: 50%;
	margin-left: -21px;
	bottom: 20px;
}
.txt {
	letter-spacing: 0.5px;
}
#lead{
	background: url("../img/shared/bg_ct.jpg") repeat center top;
    background-size: 100% 100%;
}

@media screen and (max-width: 320px) {
	.break {
		display:block;
	}
}
.pc-site a {
	color: #000000;
	display: block;
	font-size: 14px;
	letter-spacing: 0;
	margin:0 auto;
	padding: 5px 0;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	border: solid 1px #000000;
	width: 80%;
}
.pc-site a::before {
	content: "p";
	font-family: "fontello";
	margin-right: 10px;
}
h2 {
	margin-bottom: 20px;
}
.block * {
	box-sizing: border-box;
}
.cf:after {
	display: block;
	content: '';
	clear: both;
}

.txt-vertical {
	cursor: vertical-text;
	writing-mode: vertical-rl;
	-o-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	-moz-writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	text-orientation: upright;
	word-wrap: break-word;
}
.txt-vertical .int {
	writing-mode: lr-tb;
	display: inline-block;
	text-align: center;
	line-height: 1.5em;
}

[class^=fnt-] {
	font-size: initial;
	font-weight: normal;
	font-style: normal;
	line-height: initial;
	letter-spacing: initial;
}

/*=============================================*/
/*           　ヘッダー箇所　　　　　          */
/*=============================================*/

.head_img {
    text-align: right;
    padding: 15px 65px 0 0;
}
.head_img img{
	width: 180px;
}
/*=============================================*/
/*           　フッター箇所　　　　　          */
/*=============================================*/



.global-footer {
	background: url("../img/shared/bg_ct.jpg") repeat center top;
	text-align: center;
	padding: 30px 0 5px;
	line-height: 22px;
}
.vcard {
	padding: 0 10px;
}

.t_bold {
	font-weight:bold;
}

address {
	color:#673106;
	font-weight: bold;
}

#topcontrol {
    z-index: 3000;
}

/*          　 シェアボタンbox   　　          */
/*=============================================*/
/*
#social-share {
	padding: 10px 0;
	overflow: hidden;
	width: 100%;
}


#social-share table{
	width:320;
	margin:5px auto 5px auto;
}
#social-share table th{
	float:left;
	color:#fff;
	font-weight:bold;
	text-align:center;
	padding-top:1.6em;
	padding-bottom:1.6em;
	padding-right:2px;
}

#social-share table td{

	text-align:center;
	padding:3px 0px 3px 5px;
	margin:3px 0px 3px 0px;
	float:left;
}
*/

/*  -------------- su dung accordion ------------------  */
.btn-acc {
	cursor: pointer;
	display: block;
	position: relative;
}
.btn-acc::after {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -0.4em;
	font-size: 16px;
}
.btn-acc.close:after {
	content: '\e827';
}
.btn-acc.open:after {
	content: '\e826';
}
.scrollbox {
	display: none;
}

.sec_menu {
	background: url("../img/menu/bg_menu_01.png") no-repeat center top,  url("../img/menu/bg_menu_03.png") no-repeat center bottom;
	padding: 3.7vw 0;
	color: #361b08;
	font-size: 15px;
	line-height: 30px;
	margin-bottom: 23px;
	background-size: 100%;
}

.sec_menu > div{
	background: url("../img/menu/bg_menu_02.png") repeat center top;
	padding-bottom: 19px;
	background-size: 100%;
}
.sec_menu ul{
	width: 300px;
    margin: 0 auto;
}
.sec_menu li{
    background: url("../img/menu/icon2.png") no-repeat 0 10px;
    margin-left: 35px;
    padding-left: 13px;
    text-align: left;
}
.listmenu{
    background: url("../img/menu/bg_br.png") repeat-x left bottom;
    font-size: 15px;
    line-height: 30px;
    width: 267px;
    margin: 0 auto;
    text-align: left;
}
.listmenu dt{
    background: url("../img/menu/icon1.png") no-repeat 0 7px;
    width: 172px;
    float: left;
    padding-left: 17px;
}
.listmenu dd{
    width: 83px;
    float: right;
    text-align: right;
    font-weight: bold;
    color: #bf2400;
    padding-right: 8px;
}
.listmenu.style1 dd{
	padding-top: 31px;
}
.sec_menu .style2{
	padding-top: 30px;
}
.sec_menu .style3 dt{
	width: 190px;
}
.sec_menu .style3 dd{
	width: 60px;
}
.sec_menu .style4{
	background: none;
}
.sec_menu .style4 dd{
	width: 100%;
	padding-right: 0;
}
.sec_menu .style4 .col_1{
    color: #361b08;
    padding-left: 17px;
    width: 135px;
    float: left;
    text-align: left;
    font-weight: normal;
}
.sec_menu .style4 .col_2{
 width: 88px;
    float: right;
    padding-right: 8px;
}
.sec_menu .style4 p{
	background: url("../img/menu/bg_br.png") repeat-x left bottom;
}

