#sec1{
	background: url("../img/taste/bg_sec1_ct.png") repeat-x center top,url("../img/taste/bg_sec1_rp.jpg") repeat-x center top ;
	padding: 0px 0 45px;
}
#sec2{
	background: url("../img/taste/bg_sec2.jpg") repeat center top ;
}

